/* INICIO */
.landing-img{
    width: 60%;
}

/* PERSONAJES */
.personajes-container{
margin: 0 auto;
}
.personajes-img{
width: 80%;
}
.personajes-h1 {
text-align: center;
font-size: 2rem;
color: rgb(1, 155, 182);
margin-bottom: 1rem;
}
.personajes-buttons{
display: flex;
flex-flow: row wrap;
justify-content: center;
}
.personajes-grid{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.personajes-input{
    width: 300px;
    height: 2rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    border: 1px solid rgb(1, 155, 182);
    border-radius: 8px;
}


/* CARD */

.card {
width: 250px;
padding: 1rem;
margin: 1rem;
border: solid 4px rgb(139, 206, 39);
border-radius: 10px;
text-align: center;
background-color: rgb(113, 184, 197);
color: white;
box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}
.card:hover{
transition: 0.3s;
transform: scale(1.02);
cursor: pointer;
}
.card-h2{
margin-bottom: 0.5rem;
}
.card-img{
border: 4px solid rgb(139, 206, 39);
border-radius: 8px;
margin-bottom: 0.5rem;
}
.card-h3{
font-size: 1rem;
margin-bottom: 0.5rem;
}